extends layout
block content
 html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header.header
          h1 #{title}
    each person in p
      div.person
        div.person-image(style=`background: url('/${person.image}') top center no-repeat; background-size: cover;`)
         h1.name
         | nome: #{person.name}
         a(href=`/person?name=${person.name}`)
         | View Profile